{% extends "admin/change_form.html" %}
{% load widget_tweaks %}

{% block after_related_objects %}
<div class="panel-group" id="object-permissions">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
               <a class="accordion-toggle" data-toggle="collapse" data-parent="#object-permissions" href="#object-permissions_fs">Object Permissions</a>
            </h3>
        </div>
        <div id="object-permissions_fs" class="panel-collapse collapse in">
            <div class="panel-body">
                <fieldset class="module aligned control-group">
                    {% if host_permissions %}
                    <h4><strong>Hosts</strong></h4>
                     <table cellspacing="0" id="result_list" class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Mac Address</th>
                            <th>Permission</th>
                            <th>&nbsp;</th>
                        </tr>
                        {% for obj in host_permissions %}
                        <tr>
                            <td>{{ obj.content_object }}</td>
                            <td>{{ obj.content_object.mac }}</td>
                            <td>{{ obj.permission }}</td>
                            <td><a href="{% url 'admin:user_perm_delete' obj.id %}?next={{ request.path }}">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if domain_permissions %}
                    <h4><strong>Domains</strong></h4>
                     <table cellspacing="0" id="result_list" class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Permission</th>
                            <th>&nbsp;</th>
                        </tr>
                        {% for obj in domain_permissions %}
                        <tr>
                            <td>{{ obj.content_object.name }}</td>
                            <td>{{ obj.content_object.description }}</td>
                            <td>{{ obj.permission }}</td>
                            <td><a href="{% url 'admin:user_perm_delete' obj.id %}?next={{ request.path }}">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                    {% if network_permissions %}
                    <h4><strong>Networks</strong></h4>
                     <table cellspacing="0" id="result_list" class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Network</th>
                            <th>Name</th>
                            <th>Gateway</th>
                            <th>Permission</th>
                            <th>&nbsp;</th>
                        </tr>
                        {% for obj in network_permissions %}
                        <tr>
                            <td>{{ obj.content_object.network }}</td>
                            <td>{{ obj.content_object.name }}</td>
                            <td>{{ obj.content_object.gateway }}</td>
                            <td>{{ obj.permission }}</td>
                            <td><a href="{% url 'admin:user_perm_delete' obj.id %}?next={{ request.path }}">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    <table class="table table-striped table-condensed table-bordered">
                        <tr>
                            <th>Object</th>
                            <th>User</th>
                            <th>Permission</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr class="form-inline">
                            <td>{{ user_add_form.object_id|add_class:"form-control" }}</td>
                            <td>{{ user_add_form.user|add_class:"form-control" }}</td>
                            <td>{{ user_add_form.permission|add_class:"form-control no-chosen" }}</td>
                            <td><input type="submit" value="Add Permission" class="btn btn-default" /></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</div>
{% endblock %}
