{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
../../../|{% trans 'Home' %}
{% trans 'Password change' %}
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content_title %}
  <h3 id="breadcrumb-title" class="pull-left">
      Password change
  </h3>
{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<div class="well">
    <h3>{% trans 'Password change successful' %}</h3>
    <p>
        {% trans 'Your password was changed.' %}
        <a href="{% url 'index' %}">Return home</a>
    </p>
</div>
{% endblock %}
