{% extends "admin/base_site.html" %}
{% load i18n crispy_forms_tags %}

{% block coltype %}flex{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content_title %}
  <h3 id="breadcrumb-title" class="pull-left">
      Password change
  </h3>
{% endblock %}

{% block content %}
    <div id="content-main">
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <div class="well">
                    <h4>
                    {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
                    </h4>
                   
                    <div class="row">
                        <div class="col-md-4">
                            {% crispy form %}
                        </div>
                    </div>

                    <div >
                        <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-danger" />
                    </div>

                    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
