{% extends "dns/base.html" %}
{% load i18n static crispy_forms_tags %}

{% block page_title %}{% if object %}Edit DNS Record: {{ object.name }}{% else %}Add DNS Record{% endif %}{% endblock %}

{% block content_title %}
  <h3 id="breadcrumb-title" class="pull-left">
    {% if object %}Edit{% else %}Add{% endif %} DNS Record
  </h3>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css">
        .control-label {
            width: 100px !important;
        }
        .form-buttons {
            margin-left: 115px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        ../|{% trans "DNS" %}
        {% if object %}
            {{ object.name }}
        {% else %}
            {% trans "Add Record" %}
        {% endif %}
{% endblock %}


{% block contentbody %}
    <div class="well well-sm quickbody">
        <form id="dns-form" action="" method="post" class="form-horizontal" style="min-width: 400px;">
            {% csrf_token %}
            <div class="container margin10">
                {% crispy form %}
                <div class="form-group">
                    <div class="form-buttons">
                        <input type="submit" value="Save Changes" class="btn btn-primary" />
                        <input type="submit" name="_add" value="Save and add another" class="btn btn-success" />
                        <a href="{% url 'core:dns:list_dns' %}" class="btn">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
