{% extends "dns/base.html" %}
{% load i18n static openipam openipam_host_extras crispy_forms_tags %}

{% block content_title %}
  <h3 id="breadcrumb-title" class="pull-left">
      DNS Records
  </h3>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        {% if host %}
            ../|{% trans "DNS" %}
            {{ host }}
        {% else %}
            {% trans "DNS" %}
        {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/datatables/dataTables.bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'dns/css/dnsrecord_list.css' %}" type="text/css" />
    {% if selected_records or form_data %}
    <script type="text/javascript">
        $(function(){
            {% if selected_records %}
                $.selectedRecords = {{ selected_records|safe }};
            {% endif %}
            {% if form_data %}
                $.formData = {{ form_data|safe }};
            {% endif %}
        });
    </script>
    {% endif %}
    <script type="text/javascript" src="{% static 'core/datatables/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/datatables/dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'dns/js/dnsrecord_list.js' %}"></script>
{% endblock %}

{% block object-tools %}
<div class="pull-right object-tools">
  {% block object-tools-items %}
    <a href="{% url 'add_dns' %}" class="btn btn-primary">
      <i class="icon-plus icon-white"></i>
      Add DNS Record
    </a>
  {% endblock %}
</div>
{% endblock %}

{% block contentbody %}
    <form id="changelist-form" action="" method="post" class="quickbody form-inline">
        {% csrf_token %}
        <div id="actions">
            {% spaceless %}
                <div class="actions changelist-actions pull-left">
                    <div class="changelist-action" style="height: auto !important;">
                        <div class="action-wrapper">
                            <select id="host-action" name="action" class="form-control">
                                <option value="">Choose an action...</option>
                                <option value="">--------------</option>
                                    <option value="delete">Delete selected DNS records</option>
                            </select>
                            <button id="action-submit" type="submit" class="btn btn-default" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">
                                <span class="glyphicon glyphicon-play"></span>
                                {% trans "Go" %}
                            </button>
                        </div>
                    </div>
                </div>
                {% if not request.user.is_ipamadmin %}
                <div id="filter-change" class="btn-group radio-btn-group pull-left" data-toggle="buttons-radio">
                    <button type="button" class="btn btn-default {% if change_filter %}active{% endif %}" value="1">Show Mine</button>
                    <button type="button" class="btn btn-default {% if not change_filter %}active{% endif %}" value="">Show All</button>
                </div>
                {% endif %}
                <div id="changelist-search" class="pull-right">
                    <span id="filtered-label"class="label label-important pull-left hide">Records Filtered</span>
                    <a id="search-help-button" href="javascript:void(0);" class="pull-left"><span class="icon-question-sign"></span></a>
                    <div id="advanced-search" class="pull-left"><label><input type="text" id="id_search" value="{{ search_filter }}" class="form-control" /></label></div>
                    <a id="clear-filters" class="pull-right btn btn-default" href="javascript:void(0);" stlye="margin-left: 10px;">Clear</a>
                </div>
                <div id="search-help" class="hide">
                    <p>Search for hostnames, IP addresses, MAC addresses, or content of a DNS record.</p>
                    <strong>For advanced searches...</strong>
                    <p>Multiple search terms may be included separated spaces.</p>
                    <p>Try these special query types:</p><p>
                    <pre>host:<em>hostname</em></pre>
                    <pre>mac:<em>MAC address</em></pre>
                    <pre>ip:<em>IP address</em></pre>
                    <pre>user:<em>username</em></pre>
                    <pre>group:<em>groupname</em></pre>
                </div>
            {% endspaceless %}
        </div>

        <div class="results">
            <table cellspacing="0" id="result_list" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="action-checkbox-column">
                            <div class="text">
                                <span><input type="checkbox" id="action-toggle" /></span>
                            </div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col" style="width: 50px;">TTL</th>
                        <th scope="col" style="width: 80px;">Type</th>
                        <th scope="col" style="width: 70%;">Content</th>
                        <th scope="col" style="width: 80px;">View</th>
                        <th scope="col" style="width: 70px;">Edit</th>
                    </tr>
                </thead>
                {% if not host %}
                <tfoot>
                    <tr>
                        <th>&nbsp;</th>
                        <th><div><input id="name-search" type="text" rel="1" class="form-control input-sm search_init" placeholder="Search Name" style="max-width: 150px;" /></div></th>
                        <th>&nbsp;</th>
                        <th>
                            <div>
                                <select id="type-filter" rel="3" style="max-width: 80px;" class="form-control input-sm filter_init search_init">
                                    <option value="">All</option>
                                    {% for type in dns_types %}
                                        <option value="{{ type.pk }}">{{ type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </th>
                        <th><div><input id="content-search" type="text" rel="4" class="input-content form-control input-sm search_init" placeholder="Search Content" style="max-width: 300px;" /></div></th>
                        <th>&nbsp;</th>
                        <th><a href="javascript:void(0);" class="edit-all" rel="edit">Edit All</a></th>
                    </tr>
                </tfoot>
                {% endif %}
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="6">Loading...</td>
                    </tr>
                </tbody>
            </table>
            <table id="add-table" style="display: none;">
                {% for row in form_data_new %}
                    <tr class="add-row warning">
                        <td><input type="hidden" name="new-records" value="1" class="form-control input-sm" /></td>
                        <td><input type="text" name="name-new" value="{{ row.name }}" class="form-control input-sm" /></td>
                        <td><input type="text" name="ttl-new" value="{{ row.ttl }}" class="dns-ttl" /></td>
                        <td>
                            <select name="type-new" class="form-control input-sm" style="max-width: 80px;">
                                <option value="">---</option>
                                {% for type in dns_types %}
                                    <option value="{{ type.pk }}" {% ifequal row.type type.pk|stringformat:"s" %}selected="selected"{% endifequal %}>{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input type="text" name="content-new" class="input-content form-control input-sm" value="{{ row.content }}" /></td>
                        <td>&nbsp;</td>
                        <td>
                            <a class="remove-record" href="javascript:void(0);">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="add-row extra">
                    <td><input type="hidden" name="new-records" value="1" /></td>
                    <td><input type="text" name="name-new" class="form-control input-sm" /></td>
                    <td><input type="text" name="ttl-new" value="14400" class="form-control input-sm dns-ttl" /></td>
                    <td>
                        <select name="type-new" class="form-control input-sm" style="max-width: 80px;">
                            <option value="">---</option>
                            {% for type in dns_types %}
                                <option value="{{ type.pk }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="text" name="content-new" class="input-content form-control input-sm" /></td>
                    <td>&nbsp;</td>
                    <td>
                        <a class="add-record" href="javascript:void(0);">Quick add</a>
                        <a class="remove-record" href="javascript:void(0);" style="display:none;">Remove</a>
                    </td>
                </tr>

            </table>
            <div id="form-actions" style="display: none;">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input id="cancel-edit" type="button" class="btn btn-default" value="Cancel" />
            </div>
            <br /><br />
            <br /><br />
            <br /><br />
        </div>
    </form>
{% endblock %}
