{% load i18n admin_tools_dashboard_tags %}

<script type="text/javascript" src="{{ media_url }}/admin_tools/js/utils.js"></script>
<script type="text/javascript" charset="utf-8">
    // Load js files syncronously and conditionally

    var js_files = [
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.min.js',
            test: function() { return typeof(jQuery) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery-ui.min.js',
            test: function() { return typeof(jQuery.ui) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/json.min.js',
            test: function() { return typeof(JSON.stringify) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.cookie.min.js',
            test: function() { return typeof(jQuery.cookie) == 'undefined'; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/jquery/jquery.dashboard.js',
            test: function() { return true; }
        },
        {
            src : '{{ media_url }}/admin_tools/js/dashboard.js',
            test: function() { return true; }
        }{% for js in dashboard.Media.js %},
        {
            src : '{{ media_url }}/{{ js }}',
            test: function() { return true; }
        }{% endfor %}
    ];

    loadScripts(js_files, function(){
        jQuery(function($) {
            init_dashboard(
                '{{ dashboard.get_id }}',
                {{ dashboard.columns }},
                {% autoescape off %}{{ dashboard_preferences }}{% endautoescape %},
                '{% url 'admin-tools-dashboard-set-preferences' dashboard.get_id %}'
            );
//            $('#dashboard-panel ul').addClass('dropdown-menu');
        });
    });
</script>

{% if dashboard.title %}
    <h1>{{ dashboard.title }}</h1>
{% endif %}

<div id="dashboard-panel">
  {% comment %}
  <div class="btn-group">
    <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">{% trans "Modules" %} <span class="caret"></span></a>
      {% if has_disabled_modules %}
    <ul class="dropdown-menu">
          {% spaceless %}
          {% for module in dashboard.children %}
          {% if not module.enabled %}
          <li><a href="#" rel="module_{{ module.id }}" class="addlink add-dashboard-module">{{ module.title }}</a></li>
          {% endif %}
          {% endfor %}
          {% endspaceless %}
    </ul>
      {% endif %}
  </div>
  {% endcomment %}
    <h3><a href="javascript:void(0);">{% trans "Modules" %}</a></h3>
    {% if has_disabled_modules %}
    <ul>
        {% spaceless %}
        {% for module in dashboard.children %}
        {% if not module.enabled %}
        <li><a href="javascript:void(0);" rel="module_{{ module.id }}" class="addlink add-dashboard-module">{{ module.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endspaceless %}
    </ul>
    {% endif %}
</div>


<div class="alert alert-block" style="margin-bottom: 0px;">
    Were are now in <strong>BETA 2</strong> of the new openIPAM interface.  If you are having problems, you can visit <a href="https://legacy.openipam.usu.edu">https://legacy.openipam.usu.edu</a>.<br />All bugs are logged, but feel free to use the feedback form if you you like to notify us.
</div>


<div id="{{ dashboard.get_id }}" class="dashboard-container">
    <div id="dashboard-user-welcome" class="dashboard-module">
        <h2><strong>Welcome to the new openIPAM interface.</strong></h2>
        <div class="dashboard-module-content">
            <div style="margin: 10px 20px;">
                <p><strong>Thank you for taking time to try out the new IPAM interface.</strong></p>
                <p>Since we are still in beta with this project, you may experience bugs.  We have provided a <a href="{% url 'feature_request' %}">feature and bug submission tool</a> to help aid us with features and bugs.  Please use this tool whenever possible as it will give us great feedback.</p>
                <p>Item to consider when using the new interface:</p>
                <ul id="new-interface-list">
                    <li>Permissions - Do you have all your permissions?</li>
                    <li>Hosts - Do you see all your hosts?</li>
                    <li>DNS Entries - Do you see all DNS Entries?</li>
                    <li>Performance - Is the site slow?</li>
                </ul>
                <p>You may switch back to the old interface at anytime by going to <a href="{{ legacy_domain }}">{{ legacy_domain }}</a></p>
                <p>If you have any questions, please email:  <a href="{{ email }}">{{ email }}</a></p>
            </div>

        </div>
    </div>
    {% if request.user.is_ipamadmin %}
        {% for module in dashboard.children %}
            {% admin_tools_render_dashboard_module module %}
        {% endfor %}
    {% else %}
        <div id="dashboard-user-nav" class="dashboard-module">
            <h2>Navigation</h2>
            <div class="dashboard-module-content">
                <ul>
                    <li><a href="{% url 'list_hosts' %}">List Hosts</a></li>
                    <li><a href="{% url 'add_hosts' %}">Add Host</a></li>
                    <li><a href="{% url 'list_dns' %}">DNS Records</a></li>
                </ul>
            </div>
            <div class="dashboard-module-content" style="margin-top: 10px;">
                <ul>
                    <li><a href="{% url 'feature_request' %}">Feature or Bug?</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>
