{% extends "admin/base_site.html" %}
{% load static %}

{% block page_nav %}{% endblock %}

{% block content %}
    <div id="error-page">
        <h2>Whoops!  500, Server Error</h2>
        <h3>The page you requested has a bug!</h3>
        {% if error_type %}
            <h4 class="alert alert-danger">{% if error_type %}{{ error_type }}: {% endif %}{{ error_value }}</h4>
        {% endif %}
        <h4>The IPAM team has been notified of this and will be addressing the problem soon.</h4>
        <h4>To offset your anger and fustration, we have provided you with a LOLCat.</h4>
        {% if email %}
            <h4>You can also contact an <a href="mailto:{{ email }}">IPAM admin</a> if you need further consoling.</h4>
        {% endif %}
        {% if legacy_domain %}
            <h4>If you are receiving these errors often, you can continue using the old IPAM interface by going here: <a href="{{ legacy_domain }}">{{ legacy_domain }}</a></h4>
        {% endif %}
        <img class="cat" src="{% static 'core/img/error_cats/' %}{{ kitty }}" alt="Lolcats" />
    </div>
{% endblock %}
