.help-block {
    margin: 0 10px 0 0;
}
#search-input {
    margin: 0 10px 0 0;
}
span.label-delete {
    margin: 5px;
}
#dnsupdate-form input, #dnsupdate-form select {
    margin-bottom: 0;
}
table input, table select {
    margin-bottom: 0px !important;
}

table select {
    max-width: 80px;
}

.dns-name, .dns-content {
    width: 95% !important;
}

table tr.info td {
    background-color: #d9edf7 !important;
}
table tr.error td {
    background-color: #f2dede !important;
}

#form-actions {
    text-align: right;
    margin-bottom: 10px;
}

.pagination {
    height: auto;
}

.pagination input {
    margin: 0px;
}

.dns-ttl {
    max-width: 50px;
    padding: 5px;
}


@media screen and (max-width: 810px) {
    #result_list td:nth-child(3),
    #result_list th:nth-child(3) {
        display: none;
    }

    #search-help-button {
        display: none;
    }

    #filter-owners {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #result_list td:nth-child(6),
    #result_list th:nth-child(6) {
        display: none;
    }
}
