.help-block {
    margin: 0 10px 0 0;
}
#search-input {
    margin: 0 10px 0 0;
}
span.label-delete {
    margin: 5px;
}
#dnsupdate-form input, #dnsupdate-form select {
    margin-bottom: 0;
}
table input, table select {
    margin-bottom: 0px !important;
}

table select {
    max-width: 80px;
}

.dns-name, .dns-content {
    width: 95% !important;
}

table tr.info td {
    background-color: #d9edf7 !important;
}
table tr.error td {
    background-color: #f2dede !important;
}

#form-actions {
    text-align: right;
    margin-bottom: 10px;
}

.pagination {
    height: auto;
}

.pagination input {
    margin: 0px;
}

.dns-ttl {
    max-width: 50px;
    padding: 5px;
}

.input-content {
    width: 300px !important;
}

#result_list td:nth-child(2) {
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    #changelist-search {
        float: left !important;
        margin-top: 10px;
    }

    ul.breadcrumb {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #result_list td:nth-child(4),
    #result_list th:nth-child(4),
    #result_list td:nth-child(5),
    #result_list th:nth-child(5) {
        display: none;
    }

}


@media screen and (max-width: 810px) {
    #result_list td:nth-child(3),
    #result_list th:nth-child(3) {
        display: none;
    }

    #type-filter {
        width: 80px !important;
    }

    #search-help-button {
        display: none;
    }

    #filter-owners {
        display: none;
    }

    .input-content {
        width: auto !important;
    }

    #dns-action {
        display: inline-block;
    }

    #result_list_length {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #result_list td:nth-child(6),
    #result_list th:nth-child(6) {
        display: none;
    }

    .add-row.extra {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    #id_search {
        width: 200px !important;
    }
    #dns-action {
        width: 200px !important;
    }
}

@media screen and (max-width: 960px) {
    .paginate_button:not(.first):not(.previous):not(.next):not(.last) {
        display: none;
    }
}
