* {
  box-sizing: border-box;
}

p h1 h2 h3 h4 h5 h6 {
  font-family: 'Montserrat', sans-serif;
}

#dashboard-quick-view {
  overflow: auto;
}

#user-card {
  display: flex;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
}

.border-left {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: lightgray;
}

.border-right {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: lightgray;
}

.card {
  padding: 2rem;
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.no-display {
  display: none;
}

.nav-picture {
  width: 40px;
}

.oc-stat {
  flex: 1 1 0px;
  padding: 0 1rem 0 1rem;
  text-align: center;
}

.ocstat-number {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  margin-bottom: -8px;
}

.oc-description {
  font-size: 16px;
  color: grey;
  margin-bottom: .5rem;
}

.oc-data {
  display: flex;
  justify-content: center;
}

.overview-card {
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  text-align: center;
  padding: .5rem 1rem .5rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
}

.overview-card-row {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  display: inline-flex;
  float: none;
} 

.profile-card-sm {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  text-align: center;
  padding: .5rem 1rem .5rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
  height: 121px;
}

.pc-img-sm {
  height: 75%;
  border-radius: 50%;
  margin-right: 1rem;
}

.pc-info-sm {
  padding-left: 1rem;
  text-align: left;
}

.pc-row-sm {
  height: 150px;
}

.pcstat-number {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  margin-bottom: -18px;
}

.pcstat-col {
  width: 50%;
}

.pcstat-row {
  width: 100%;
  display: inline-flex;
}

.profile-card-img {
  width: 50%;
  border-radius: 50%;
}

.profile-card-stat {
  height: 76px;
}

.section {
  padding: 2rem;
  border: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
}

.section-margin {
  margin-top: 2rem;
}

@media only screen and (max-width: 1199px) {
  .hide-below-1200 {
    display: none !important;
  }
  .show-below-1200 {
    display: block;
  }
}