#action-submit
{
    margin-right: 5px;
}
#advanced-search label
{
    margin-bottom: 0px;
}
#breadcrumb-title
{
    border-right: 1px solid #ddd;
    margin-right: 5px;
    padding: 0px 20px 0px 10px;
}
#changelist-filter-actions
{
    margin: 54px 0px 10px;
    min-width: 220px;
    position: absolute;
    right: 15px;
    z-index: 999;
}
#changelist-filter-actions label
{
    display: block;
}
#changelist-filter-actions select
{
    display: block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 10px;
    width: 220px !important;
}
#changelist-filters-toggle
{
    margin-right: 4px;
}
#container
{
    margin-top: 50px;
}
#dashboard-panel ul li
{
    list-style: none outside;
}
#error-page
{
    margin: 30px 0px;
    text-align: center;
}
#feedback-form
{
    margin: 20px;
    min-width: 400px;
}
#feedback-form .form-actions
{
    text-align: center;
}
#filtered-label
{
    margin: 5px;
}
#footer
{
    background-color: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}
#footer.login
{
    background-color: #1b1b1b;
    border: 0px;
    color: #fff;
    margin-top: 0px;
}
#globe-small
{
    float: left;
    margin: 5px 10px 0px 0px;
}
#id_search
{
    margin-bottom: 0px;
    margin-right: 5px;
    width: 300px;
}
#login-form
{
    font-size: 14px;
    margin-top: 40px;
}
#logo-container
{
    float: left;
    margin-top: 10px;
    text-align: center;
}
#logo-image
{
    margin-bottom: 10px;
    width: 200px;
}
#menu-search li a span.highlight
{
    font-weight: bold;
}
#menu-search-input
{
    margin: 10px;
}
#mimic_form
{
    position: relative;
    top: 2px;
}
#navigation-menu li
{
    list-style: none;
}
#new-interface-list
{
    margin: normal !important;
    padding: 0px 25px !important;
}
#new-interface-list li
{
    list-style: disc !important;
    margin: normal !important;
    padding: 0px !important;
}
#page-nav
{
    margin: 10px 0px 10px 0px;
    padding: 0px;
}
#page-nav h3
{
    font-size: 18px;
    line-height: normal;
    margin: 10px 0px;
}
#result_list th
{
    line-height: 22px;
}
#result_list tr.flagged td , #result_list tr.flagged th
{
    background-color: #FFEB84;
}
#result_list tr.flagged td span.flagged, #result_list tr.flagged th span.flagged
{
    color: #ff0000;
}
#result_list tr.flagged td.sorting_1, #result_list tr.flagged th.sorting_1
{
    background-color: #FFDF69 !important;
}
#result_list_filter label, #result_list_filter input
{
    margin: 0 !important;
}
#result_list_filter, #advanced-search-div
{
    float: left;
    margin-right: 4px;
}
#result_list_info, #result_list_paginate
{
    float: right;
    font-size: 13px;
    font-weight: bold;
}
#result_list_length label
{
    font-weight: bold;
    margin-bottom: 0;
    position: relative;
    top: 5px;
}
#result_list_processing
{
    float: left;
    font-size: 16px;
    font-weight: bold;
    left: 80px;
    position: relative;
    text-transform: uppercase;
    top: 5px;
}
#searchbar
{
    margin-bottom: 0;
    margin-left: 10px;
}
#search-help
{
    right: 410px;
}
#search-help pre
{
    font-size: 12px;
    padding: 4px;
}
#search-help-button
{
    cursor: pointer;
    margin: 10px 5px;
}
#search-info-close
{
    cursor: pointer;
}
.accordion-body
{
    background-color: #fff;
}
.accordion-heading a
{
    background-color: #666;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
}
.action-checkbox-column
{
    padding: 5px !important;
}
.action-wrapper .chzn-search
{
    display: none;
}
.action-wrapper label
{
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}
.alert ul
{
    webkit-padding-start: 10px;
}
.bottom10
{
    margin-bottom: 10px;
}
.bottom20
{
    margin-bottom: 20px;
}
.breadcrumb
{
    float: left;
    line-height: 30px;
    margin-bottom: 0px;
}
.btn
{
    font-size: 13px !important;
}
.btn.info
{
    color: #428bca !important;
    cursor: auto;
}
.btn-primary
{
    color: #fff !important;
}
.calendar
{
    margin: 0;
    padding: 0;
}
.calendar caption, .calendarbox h2
{
    border-top: none;
    font-size: 11px;
    margin: 0;
    text-align: center;
}
.calendar table
{
    background: white;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}
.calendar td
{
    border-bottom: none;
    border-top: 1px solid #eee;
    font-size: 11px;
    padding: 0;
    text-align: center;
}
.calendar td a, .timelist a
{
    color: #444;
    display: block;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
}
.calendar td a:active, .timelist a:active
{
    background: #036;
    color: white;
}
.calendar td a:hover, .timelist a:hover
{
    background: #5b80b2;
    color: white;
}
.calendar td.nonday
{
    background: #efefef;
}
.calendar td.selected a
{
    background: #C9DBED;
}
.calendar td.today a
{
    background: #ffc;
}
.calendar th
{
    background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 10px;
    padding: 2px 3px;
    text-align: center;
}
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next
{
    background: #c9dbed url(../img/default-bg.gif) bottom left repeat-x;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 4px 2px 4px;
    position: absolute;
}
.calendarbox h2, .clockbox h2
{
    border-bottom: 1px solid #999999;
    color: #049cdb;
    font-size: 14px;
    margin: 0;
    padding: 0 10px !important;
}
.calendarbox, .clockbox
{
    background: white;
    border: 1px solid #555555;
    box-shadow: 2px 2px 3px #000000;
    box-shadow: 2px;
    font-size: 11px;
    margin: 5px auto;
    moz-box-shadow: 2px 2px 3px #000000;
    moz-box-shadow: 2px;
    position: relative;
    text-align: center;
    webkit-box-shadow: 2px 2px 3px #000000;
    webkit-box-shadow: 2px;
    width: 16em;
}
.calendar-cancel
{
    background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
    border-top: 1px solid #ddd;
    font-size: 10px;
    margin: 0 !important;
    padding: 0 !important;
}
.calendar-cancel a
{
    color: black;
    display: block;
}
.calendar-cancel:hover
{
    background: #e1e1e1 url(../img/nav-bg-reverse.gif) 0 50% repeat-x;
}
.calendarnav
{
    color: #ccc;
    font-size: 10px;
    margin: 0;
    padding: 1px 3px;
    text-align: center;
}
.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover
{
    color: #999;
}
.calendarnav-next
{
    right: 0;
    top: 0;
}
.calendarnav-previous
{
    left: 0;
    top: 0;
}
.calendarnav-previous:hover, .calendarnav-next:hover
{
    background: #036;
}
.calendar-shortcuts
{
    background: white;
    border-top: 1px solid #eee;
    color: #ccc;
    font-size: 10px;
    line-height: 11px;
    padding: 3px 0 4px;
}
.cat
{
    border: 5px solid #000;
    border-radius: 5px;
    margin-top: 20px;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
}
.changelist-actions .changelist-action select
{
    margin-right: 5px;
}
.chzn-container
{
    margin-bottom: 10px;
    margin-right: 15px;
}
.clear
{
    clear: both;
}
.clockbox
{
    width: auto;
}
.collapse
{
    position: inherit !important;
}
.collapsed_fieldset
{
    background-color: #eeeeee;
}
.collapsed_fieldset .accordion-toggle
{
    font-size: 14pt;
}
.column-change_time
{
    white-space: nowrap;
}
.container-popup
{
    min-width: 700px !important;
    padding-top: 10px !important;
}
.control-group > label
{
    float: left;
}
.css_right
{
    float: right;
}
.dashboard-module h2
{
    font-size: 18px;
    height: auto !important;
    line-height: 20px;
}
.dashboard-module h3
{
    font-size: 16px;
    line-height: 18px;
}
.dashboard-module h3 a
{
    color: #46a546 !important;
    font-weight: bold !important;
    margin-left: -15px;
}
.dashboard-module li
{
    list-style: none;
}
.dashboard-module ul
{
    padding: 0px;
}
.dashboard-module-content > ul
{
    margin: 5px 0px;
}
.dashboard-module-content > ul > li
{
    margin: 0px 5px;
}
.dataTables_info
{
    margin-right: 10px;
}
.date-hierarchy
{
    height: 36px;
}
.deck span.remove
{
    margin-right: 3px;
    margin-top: 3px;
}
.deck span:not(.remove)
{
    background-color: #d9534f;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block !important;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 12px;
    margin-bottom: 5px;
    margin-right: 3px;
    moz-border-radius: 3px;
    padding: 6px 6px 6px 4px !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    webkit-border-radius: 3px;
    white-space: nowrap;
}
.dropdown-header
{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.empty-form
{
    display: none;
}
.errorlist
{
    padding: 7px 0px 0px 0px;
}
.errorlist li
{
    color: #b94a48;
    list-style: none;
}
.errorlist-group li
{
    color: #b94a48;
    margin: 10px 15px;
}
.filter-autocomplete
{
    margin-bottom: 20px !important;
    width: 220px !important;
}
.filtered-content
{
    margin-right: 12.765957446%;
}
.filter-select
{
    display: block;
}
.filter-select + .chosen-container
{
    margin-bottom: 20px;
}
.form-horizontal .autocomplete-light-widget
{
    display: block;
}
.form-horizontal .autocomplete-light-widget input
{
    width: 100% !important;
}
.header .btn
{
    height: 34px;
    line-height: 22px;
}
.help_text
{
    color: #999;
    font-size: small;
    margin-top: 0.1em;
    text-transform: lowercase;
}
.help-button, .help-close
{
    cursor: pointer;
}
.help-content
{
    background: #eee;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    display: none;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    padding: 10px;
    position: fixed;
    webkit-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    width: 250px;
    z-index: 200;
}
.help-div
{
    font-weight: bold;
    text-align: right;
}
.inline-addlink
{
    color: #fff !important;
}
.left10
{
    margin-left: 10px;
}
.login .errornote
{
    color: #b94a48;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
}
.login label
{
    font-size: 14px;
}
.margin10
{
    margin: 10px;
}
.margin15
{
    margin: 15px;
}
.margin20
{
    margin: 20px;
}
.min300
{
    min-width: 300px;
}
.module textarea
{
    height: 5em;
    width: 90%;
}
.navbar .nav a
{
    font-size: 13px;
}
.navbar-brand
{
    background: url('../img/logo-globe-small.png') no-repeat;
    background-position: 12px 7px;
    font-size: 20px;
    height: auto;
    padding-left: 50px !important;
}
.navbar-form
{
    padding: 0px 5px;
}
.object-tools
{
    margin-right: 10px;
    margin-top: 0.5em;
}
.pagination
{
    margin: 0px;
}
.pagination>li>a, .pagination>li>span
{
    padding: 5px 12px;
}
.paginator input
{
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
}
.paginator ul
{
    margin-left: 1em;
}
.paginator.fixed
{
    bottom: 0px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    height: auto;
    position: fixed;
    right: 22px;
    webkit-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.paginator.fixed div
{
    margin: 10px;
}
.panel-default>.panel-heading
{
    background-color: #666;
    border-color: #000;
    color: #fff;
}
.quickbody
{
    overflow: hidden;
}
.readonly-input
{
    margin-top: 0.6em;
}
.red-highlight
{
    background-color: #fcf8e3 !important;
    border: 1px solid #cc0000 !important;
}
.renew
{
    font-size: 15px;
    margin-left: 10px;
}
.results .sortoptions
{
    float: right;
    margin-left: 1em;
}
.results .sortoptions a
{
    padding: 0px !important;
}
.right10
{
    margin-right: 10px;
}
.search_init
{
    margin: 0 !important;
}
.search-results
{
    color: #999999 !important;
}
.side10
{
    margin-left: 10px;
    margin-right: 10px;
}
.sorter
{
    margin: 0px;
    padding: 0px;
}
.stacked-inline span.delete
{
    float: right;
}
.stacked-inline span.delete input
{
    float: left;
    margin-top: 5px;
}
.stacked-inline span.delete label
{
    margin-top: 0px;
    padding-top: 4px;
    width: 50px;
}
.table-bordered tfoot th
{
    background-color: #f5f5f5;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td
{
    border-bottom: 0px;
}
.table-curved
{
    border-collapse: separate;
}
.table-curved
{
    border: solid #ccc 1px;
    border-left: 0px;
    border-radius: 3px;
}
.table-curved
{
    border: solid #ccc 1px;
    border-collapse: separate;
    border-left: 0px;
    border-radius: 4px;
    border-top: 0px;
}
.table-curved > :first-child > :first-child > :first-child
{
    border-radius: 4px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child
{
    border-radius: 0 4px 0 0;
}
.table-curved > :last-child > :last-child > :first-child
{
    border-radius: 0 0 0 4px;
}
.table-curved > :last-child > :last-child > :last-child
{
    border-radius: 0 0 4px 0;
}
.table-curved > thead:first-child > tr:first-child > th
{
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th
{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved tr:last-child td:first-child
{
    border-radius: 0 0 0 3px;
}
.table-curved tr:last-child td:last-child
{
    border-radius: 0 0 3px 0;
}
.timelist a
{
    padding: 2px;
}
.top10
{
    margin-top: 10px;
}
.vDateField, .vTimeField
{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
    margin-bottom: 5px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.well
{
    margin-bottom: 10px !important;
}
@media screen and (max-width: 767px)
{
    #container
    {
        margin-top: 50px !important;
    }
    #feature-dropdown
    {
        display: none !important;
    }
    #id_mimic_select
    {
        padding-left: 10px !important;
        padding-right: 10px !important;
        width: auto !important;
    }
    #id_mimic_select
    {
        margin-left: 15px !important;
        width: auto;
    }
    .dashboard-column
    {
        float: none !important;
        width: auto !important;
    }
    .navbar-collapse
    {
        margin-left: 5px !important;
        overflow: hidden;
    }
    .navbar-form
    {
        padding: 10px 15px;
    }
}
@media screen and (max-width: 900px)
{
    #id_mimic_select
    {
        padding-left: 5px;
        padding-right: 5px;
        width: 80px;
    }
}
body.change-form .add-another
{
    float: right;
}
body.change-form select.form-control
{
    display: inline;
}
code, pre
{
    font-size: 12px !important;
}
div.errors
{
    padding: 0px !important;
}
div.has-error label, div.has-error .errors
{
    font-weight: bold;
}
div.sortoptions
{
    padding-left: 20px;
}
fieldset h2
{
    font-size: 14pt;
    margin-bottom: 0.5em;
}
fieldset.module legend
{
    border: 0px;
    font-weight: bold;
    margin-bottom: 0px;
}
form div.alert-block ul li
{
    font-weight: bold;
    list-style: none;
}
td > span.nowrap
{
    white-space: nowrap;
}
td.action-checkbox
{
    width: 1.5em;
}
th.sortable
{
    white-space: nowrap;
}
tr th.sorting_1, tr td.sorting_1
{
    background-color: #EEE !important;
}
ul.timelist, .timelist li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
