body {
  margin: 0;
  background-color: #ffffff;
  color: #333333;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}
h1, ul, li {
  margin: 0;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  color: #999999;
  text-transform: uppercase;
  font-size: 11px;
}
label,
input,
button,
select,
textarea {
  font-weight: normal;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}

.collapse {
  position: inherit !important;
}

.filtered-content {
  margin-right: 12.765957446%;
}
.changelist-actions {
  /* clearing bootstrap .actions class */
  padding: 0;
  border: none;
  background: none;
}
.changelist-actions .changelist-action select {
  margin-bottom: 0;
}
.changelist-actions .changelist-action label, .changelist-actions .changelist-action select, .changelist-actions .changelist-action button {
  margin-right: 0.5em;
}
.changelist-actions .changelist-action label {
  display: inline;
  width: auto;
}
.changelist-actions .changelist-action .action-wrapper {
  float: left;
}
.changelist-actions .changelist-action button {
  float: right;
  margin-left: 5px;
  min-width: 80px;
  height: 28px;
}
.changelist-actions .changelist-action button * {
  float: left;
}
.changelist-actions .ui-toolbar {
  height: 28px;
}
.changelist-actions span.clear, .changelist-actions span.question, .changelist-actions .selection-info {
  display: none;
}
.changelist-actions .ui-icon {
  float: left;
  margin-right: 5px;
}
.errorlist li {
  color: #b94a48;
  list-style: none;
}

.errorlist-group li {
  margin: 10px 15px;
  color: #b94a48;
}

.dataTables_info {
  margin-right: 10px;
}

.pagination ul {
  margin-left: 1em;
}
.pagination input {
  margin-left: 1em;
  padding-right: 2em;
  padding-left: 2em;
  height: 35px;
}
.help_text {
  margin-top: 0.1em;
  color: #999;
  text-transform: lowercase;
  font-size: small;
}
.readonly-input {
  margin-top: 0.6em;
}
.empty-form {
  display: none;
}
.dashboard-module li {
  list-style: none;
}
.dashboard-module h2 {
  font-size: 14pt;
  line-height: 12pt;
}
.dashboard-module h3 {
  font-size: 12pt;
  line-height: 15pt;
}
.dashboard-module h3 a {
  margin-left: -15px;
  color: #46a546 !important;
  font-weight: bold !important;
}
.dashboard-module li a {
  margin-left: 10px;
}
#container {
  padding-top: 50px;
}
td.action-checkbox {
  width: 1.5em;
}
.container-popup {
  /* replacing bootstrap's value */

  padding-top: 10px !important;
  min-width: 700px !important;
}
.login .hero-unit {
  margin: 40px auto 0px auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 640px;
  border: 1px solid #e3e3e3;
}

.login .errornote {
  margin-bottom: 30px;
  margin-left: 90px;
  color: #b94a48;
  font-weight: bold;
  font-size: 18px;
}

.login label {
  font-size: 14px;
}

.login .hero-unit h1 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
  font-size: 40pt;
}

.password .hero-unit {
  border: 1px solid #ddd;
  padding: 30px;
}

.password .hero-unit label {
  font-size: 15px !important;
}

.stacked-inline span.delete {
  float: right;
}
.stacked-inline span.delete label {
  margin-top: 0px;
  padding-top: 4px;
  width: 50px;
}
.stacked-inline span.delete input {
  float: left;
  margin-top: 5px;
}
.inline-addlink {
  color: #fff !important;
}
.results .sortoptions {
  float: right;
  margin-left: 1em;
}
.results .sortoptions a {
  padding: 0px !important;
}
#result_list tr.flagged td , #result_list tr.flagged th {
  background-color: #FFEB84;
}

#result_list tr.flagged td.sorting_1, #result_list tr.flagged th.sorting_1 {
  background-color: #FFDF69 !important;
}
#result_list tr.flagged td span.flagged, #result_list tr.flagged th span.flagged {
  color: #ff0000;
}
code, pre {
  font-size: 12px !important;
}
#menu-search-input {
  margin: 10px;
}
#menu-search li a span.highlight {
  font-weight: bold;
}

.module textarea {
  width: 90%;
  height: 5em;
}

#page-nav {
  margin: 5px 0px 10px 0px;
  padding: 0px;
  border: 1px solid #ddd;
  background: #f5f5f5;
}

.well {
  margin-bottom: 10px !important;
}

#changelist-filters-toggle {

}

#searchbar {
  margin-bottom: 0;
  margin-left: 10px;
}

#changelist-filter {
    border: 0;
    background: transparent;
}

#changelist-filter-actions {
    position: fixed;
    right: 20px;
    z-index: 999;
    margin: 50px 0px 10px;
    background: #eee;
    font-weight: normal !important;
}

#changelist-filter-actions select {
    margin-right: 10px;
    margin-left: 2px;
}

.filter-select-container {
    float: left;
}

#changelist-filter-actions label {

}

.action-wrapper label {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

#changelist-filter-actions .chzn-search {
    display: block;
}

.action-wrapper .chzn-search {
  display: none;
}

.chzn-container {
  margin-right: 15px;
  margin-bottom: 10px;
}

fieldset h2 {
  margin-bottom: 0.5em;
  font-size: 14pt;
}
.search-results {
  color: #999999 !important;
}
.clear {
  clear: both;
}
.collapsed_fieldset {
  background-color: #eeeeee;
}
.collapsed_fieldset .accordion-toggle {
  font-size: 14pt;
}
#dashboard-panel ul li {
  list-style: none outside;
}
#navigation-menu li {
  list-style: none;
}
.date-hierarchy {
  height: 36px;
}
/* Django calendars */
.calendarbox, .clockbox {
  position: relative;
  margin: 5px auto;
  width: 16em;
  border: 1px solid #555555;
  background: white;
  -webkit-box-shadow: 2px;
  -webkit-box-shadow: 2px 2px 3px #000000;
  -moz-box-shadow: 2px;
  -moz-box-shadow: 2px 2px 3px #000000;
  box-shadow: 2px;
  box-shadow: 2px 2px 3px #000000;
  text-align: center;
  font-size: 11px;
}
.calendarbox h2, .clockbox h2 {
  margin: 0;
  padding: 0 10px !important;
  border-bottom: 1px solid #999999;
  color: #049cdb;
  font-size: 14px;
}
.clockbox {
  width: auto;
}
.calendar {
  margin: 0;
  padding: 0;
}
.calendar table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  background: white;
}
.calendar caption, .calendarbox h2 {
  margin: 0;
  border-top: none;
  text-align: center;
  font-size: 11px;
}
.calendar th {
  padding: 2px 3px;
  border-bottom: 1px solid #ddd;
  background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
  color: #666;
  text-align: center;
  font-size: 10px;
}
.calendar td {
  padding: 0;
  border-top: 1px solid #eee;
  border-bottom: none;
  text-align: center;
  font-size: 11px;
}
.calendar td.selected a {
  background: #C9DBED;
}
.calendar td.nonday {
  background: #efefef;
}
.calendar td.today a {
  background: #ffc;
}
.calendar td a, .timelist a {
  display: block;
  padding: 4px;
  color: #444;
  text-decoration: none;
  font-weight: bold;
}
.calendar td a:hover, .timelist a:hover {
  background: #5b80b2;
  color: white;
}
.calendar td a:active, .timelist a:active {
  background: #036;
  color: white;
}
.calendarnav {
  margin: 0;
  padding: 1px 3px;
  color: #ccc;
  text-align: center;
  font-size: 10px;
}
.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover {
  color: #999;
}
.calendar-shortcuts {
  padding: 3px 0 4px;
  border-top: 1px solid #eee;
  background: white;
  color: #ccc;
  font-size: 10px;
  line-height: 11px;
}
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
  position: absolute;
  display: block;
  padding: 1px 4px 2px 4px;
  background: #c9dbed url(../img/default-bg.gif) bottom left repeat-x;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
.calendarnav-previous:hover, .calendarnav-next:hover {
  background: #036;
}
.calendarnav-previous {
  top: 0;
  left: 0;
}
.calendarnav-next {
  top: 0;
  right: 0;
}
.calendar-cancel {
  margin: 0 !important;
  padding: 0 !important;
  border-top: 1px solid #ddd;
  background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
  font-size: 10px;
}
.calendar-cancel:hover {
  background: #e1e1e1 url(../img/nav-bg-reverse.gif) 0 50% repeat-x;
}
.calendar-cancel a {
  display: block;
  color: black;
}
ul.timelist, .timelist li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.timelist a {
  padding: 2px;
}
.btn {
  font-size: 13px !important;
}
.btn-primary {
  color: #fff !important;
}
.breadcrumb {
  float: left;
  margin-bottom: 0px;
  line-height: 30px;
}

#breadcrumb-title {
  margin-right: 5px;
  padding: 0px 20px 0px 10px;
  border-right: 1px solid #ddd;
}

.object-tools {
  margin-top: 0.5em;
  margin-right: 10px;
}

.right10 {
  margin-right: 10px;
}

#quicklinks {
  width: 155px;
}

.quickbody {
  overflow: hidden;
  /*margin-left: 195px;*/
}

.margin10 {
  margin: 10px;
}

.margin15 {
  margin: 15px;
}

.margin20 {
  margin: 20px;
}

fieldset.module legend {
  margin-bottom: 0px;
  font-weight: bold;
  border: 0px;
}

#footer {
  text-align: center;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px;
  margin-top: 20px;
  /*background-color: #1b1b1b;*/
  background-color: #f5f5f5;
}

#footer.login {
  color: #fff;
  border: 0px;
  margin-top: 0px;
  background-color: #1b1b1b;
}


#logo-container {
  float: left;
  text-align: center;
  margin-top: 10px;
}

#login-form {
  margin-top: 40px;
  font-size: 14px;
}

#logo-image {
  margin-bottom: 10px;
  width: 200px;
}

.help-div {
  text-align: right;
  font-weight: bold;
}

#globe-small {
  float: left;
  margin: 5px 10px 0px 0px;
}

.brand {
  padding-left: 50px !important;
  background: url('../img/logo-globe-small.png') no-repeat;
  background-position: 10px 5px;
}

.deck .div:not(.remove) {
  display: inline-block !important;
  padding: 4px 4px 2px 4px;
  margin-right: 3px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #b94a48;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.renew {
  margin-left: 10px;
}

.control-group > label {
  float: left;
}

form div.alert-block ul li {
  list-style: none;
  font-weight: bold;
}

#result_list_processing {
  float: left;
  position: relative;
  top: 5px;
  left: 80px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

#result_list_info, #result_list_paginate {
  font-weight: bold;
  font-size: 13px;
  padding-top: 0px;
  float: right;
  line-height: 30px;
}

#result_list_length label {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
  top: 5px;
}

#result_list_filter {
  float: left;
  margin-right: 4px;
}

#result_list_filter label, #result_list_filter input {
  margin: 0 !important;
}

.css_right {
  float: right;
}

.search_init {
  margin: 0 !important;
}

.accordion-heading a {
  font-size: 16px;
  font-weight: bold;
  background-color: #666;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion-body {
  background-color: #fff;
}

#filtered-label {
  margin: 5px;
}
