{% extends "admin/change_form.html" %}


{% block after_related_objects %}
    <fieldset class="module aligned well control-group">
        <h2>Object Permissions</h2>

        {% if host_permissions %}
        <h3>Hosts</h3>
         <table cellspacing="0" id="result_list" class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Name</th>
                <th>Mac Address</th>
                <th>Permission</th>
                <th>&nbsp;</th>
            </tr>
            {% for obj in host_permissions %}
            <tr>
                <td>{{ obj.content_object }}</td>
                <td>{{ obj.content_object.mac }}</td>
                <td>{{ obj.permission }}</td>
                <td><a href="{% url 'admin:auth_group_perm_delete' obj.id %}?next={{ request.path }}">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if domain_permissions %}
        <h3>Domains</h3>
         <table cellspacing="0" id="result_list" class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Permission</th>
                <th>&nbsp;</th>
            </tr>
            {% for obj in domain_permissions %}
            <tr>
                <td>{{ obj.content_object.name }}</td>
                <td>{{ obj.content_object.description }}</td>
                <td>{{ obj.permission }}</td>
                <td><a href="{% url 'admin:auth_group_perm_delete' obj.id %}?next={{ request.path }}">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if network_permissions %}
        <h3>Networks</h3>
         <table cellspacing="0" id="result_list" class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Network</th>
                <th>Name</th>
                <th>Gateway</th>
                <th>Permission</th>
                <th>&nbsp;</th>
            </tr>
            {% for obj in network_permissions %}
            <tr>
                <td>{{ obj.content_object.network }}</td>
                <td>{{ obj.content_object.name }}</td>
                <td>{{ obj.content_object.gateway }}</td>
                <td>{{ obj.permission }}</td>
                <td><a href="{% url 'admin:auth_group_perm_delete' obj.id %}?next={{ request.path }}">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>Object</th>
                <th>Group</th>
                <th>Permission</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <td>{{ group_add_form.object_id }}</td>
                <td>{{ group_add_form.group }}</td>
                <td>{{ group_add_form.permission }}</td>
                <td><input type="submit" value="Add Permission" class="btn" /></td>
            </tr>
        </table>
    </fieldset>
{% endblock %}
