{% extends "core/base.html" %}

{% block page_nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block branding %}{% endblock %}

{% block extrahead %}
  <style type="text/css">
    body {
      background: #111;
    }
    #report-brand {
      font-size: 18px;
      font-weight: bold;
      color: #f60;
    }
  </style>
{% endblock %}

{% block nav-global %}
    <ul class="nav navbar-nav">
      <li><a href="{% url 'reports_overview' %}" id="report-brand">IPAM Reports</a></li>
      <li id="weathermap_link"><a href="{% url 'reports_weather_map' %}">Weathermap</a></li>
      <li id="lease_usage_link"><a href="{% url 'reports_lease_usage' %}">Lease Usage</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li><a id="time"></a></li>
    </ul>
{% endblock %}
