{% load i18n openipam widget_tweaks %}

{% spaceless %}
<div class="pull-left">
    {% for field in action_form %}
        {{ field|add_class:"form-control" }}
    {% endfor %}
    <button type="submit" class="btn btn-default side10" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">
        <span class="glyphicon glyphicon-play"></span>
        {% trans "Go" %}
    </button>
    {% if actions_selection_counter %}
        <span id="action-selection" class="actions top10">
            {% if cl.result_count != cl.result_list|length %}
                <span class="question right10" style="display: none;">
                    <a href="javascript:;" class="btn btn-default" title="{% trans "Click here to select the objects across all pages" %}">
                        <span class="ui-icon ui-icon-carat-2-n-s"></span>
                        {% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}
                    </a>
                </span>
                <span class="clear right10" style="display: none;">
                    <a href="javascript:;" class="clear-selection btn btn-default">
                        <span class="glyphicon glyphicon-remove"></span>
                        {% trans "Clear selection" %}
                    </a>
                </span>
            {% endif %}
            <span class="all btn btn-default info" style="display: none;">
                <span class="glyphicon glyphicon-info-sign"></span>
                {{ selection_note_all }}
            </span>
            <span class="action-counter btn btn-default info">
                <span class="glyphicon glyphicon-info-sign"></span>
                {{ selection_note }}
            </span>
            <script type="text/javascript">var _actions_icnt="{{ cl.result_list|length|default:"0" }}";</script>
        </span>
    {% endif %}
</div>
{% endspaceless %}
