{% extends "admin/base.html" %}
{% load static i18n admin_tools_menu_tags openipam crispy_forms_tags %}

{% block title %}{{ title }} | {% atb_site_name %}{% endblock %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block nav-global %}
    <div class="collapse navbar-collapse navHeaderCollapse">
    {% if user.is_active %}
        {% if not is_popup %}
            {% block nav-menu %}
                {% admin_tools_render_menu %}
            {% endblock %}
            <ul id="right-menu" class="nav navbar-nav navbar-right">
                {% block mimic-user %}
                <li class="navbar-form">
                  {% if request.user.is_ipamadmin and not request.session.mimic_user %}
                        {% mimic_user_form %}
                    {% else %}
                        {% if request.session.mimic_user %}
                            <div class="btn-group">
                                <button class="btn btn-primary">Mimicing User: {{ request.user.username|safe }}</button>
                                <a href="{% url 'core:mimic' %}" class="btn btn-primary dropdown-toggle"><span class="glyphicon glyphicon-remove icon-white"></span></a>
                            </div>
                        {% endif %}
                    {% endif %}
                </li>
                {% endblock %}
                {% block feature-request %}
                    {% if not user.is_ipamadmin and not request.session.mimic_user %}
                    <li id="feature-dropdown" class="dropdown">
                        <a id="feature-toggle" class="dropdown-toggle" href="#" data-toggle="dropdown">
                            Feature or Bug?
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <div id="feedback-form">
                                    <h4>
                                        Please provide any feedback related to bugs and feature requests as an issue on GitHub.
                                    </h4>
                                    <div class="form-actions">
                                        <a type="button" class="btn btn-primary" href="https://github.com/openipam/django-openipam/issues/" target="_blank">Create Issue</a>
                                        <a type="button" class="btn btn-default feedback-cancel">Cancel</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                {% endblock %}
                {% block nav-user %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <img id="user-icon" src="{{ gravatar }}?d=mm&amp;s=20" alt="{{ request.user }}" class="glyphicon glyphicon-user white" />
                            {% filter force_escape %}
                                {% firstof user.first_name user.username %}
                            {% endfilter %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {% block userlinks %}
                            <li>
                                <a href="{% url 'core:profile' %}">
                                    <i class="icon-user"></i>
                                    Profile
                                </a>
                            </li>
                            {% if request.user.has_usable_password %}
                            <li>
                                <a href="{% url 'core:password_change' %}">
                                    <i class="icon-lock"></i>
                                    {% trans 'Change password' %}
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'core:logout' %}">
                                    <i class="icon-off"></i>
                                    {% trans 'Log out' %}
                                </a>
                            </li>
                            {% endblock %}
                        </ul>
                    </li>
                {% endblock %}
            </ul>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}
