{% load openipam widget_tweaks %}

{% if 'collapse' in fieldset.classes and fieldset.name  %}<div class="panel-group" id="{{ fieldset.name|slugify }}">{% endif %}
    <div class="panel panel-default {% if not fieldset.name %}well well-sm{% endif %}">
		{% if fieldset.name %}
        <div class="panel-heading">
            <h3 class="panel-title">
                {% if 'collapse' in fieldset.classes %}
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{ fieldset.name|slugify }}" href="#{{ fieldset.name|slugify }}_fs">{{ fieldset.name }}</a>
                {% else %}
                    {{ fieldset.name }}
                {% endif %}
            </h3>
		</div>
        {% endif %}
		{% if 'collapse' in fieldset.classes and fieldset.name %}<div id="{{ fieldset.name|slugify }}_fs" class="panel-collapse collapse in">{% endif %}
            <div class="panel-body">
    			<fieldset class="module aligned {{ fieldset.classes|cut:"collapse" }} accordion-inner">
    					{% if fieldset.description %}
    							<div class="description">{{ fieldset.description|safe }}</div>
    					{% endif %}
    					{% for line in fieldset %}
    							<div class="form-group{% if line.errors %} has-error has-feedback{% endif %}">
    								{% for field in line %}
    									{% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
    									{% if field.field.label_tag %}
                                            {{ field.field|label_with_classes:"col-sm-2 control-label" }}
                                        {% else %}
                                            <div class="col-sm-2 control-label">
                                                <strong>{{ field.field.label|title }}:</strong>
                                            </div>
                                        {% endif %}
    									<div class="col-sm-6">
    										{% if field.is_readonly %}
    											<div style="margin-top: 6px; font-weight: bold;">{{ field.contents }}</div>
    										{% else %}
                                                {% with field.field|field_type as field_type %}
                                                    {% if field_type == 'booleanfield' %}
                                                        <label>
                                                            {{ field.field }}
                                                            {% if field.field.help_text %}
                                                                <span class="help-inline">{{ field.field.help_text|safe }}</span>
                                                            {% endif %}
                                                        </label>
                                                    {% elif field_type == 'splitdatetimefield' %}
                                                        <div class="form-inline">
                                                            {{ field.field }}
                                                        {# {{ field.field|append_attr:"class:form-control" }} #}
                                                        </div>
                                                    {% else %}
                                                        {# {{ field.field|widget_type }} #}
                                                        {# {{ field.field|field_type }} #}
                                                        {{ field.field|add_class:"form-control" }}
                                                        {% if field.field.help_text %}
                                                            <span class="help-inline">{{ field.field.help_text|safe }}</span>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endwith %}
    										{% endif %}

    									</div>
                                        {% if line.errors %}
                                        <div class="errors col-sm-2">
                                            {{ line.errors }}
                                        </div>
                                        {% endif %}
    								{% endfor %}
    							</div>
    					{% endfor %}
    			</fieldset>
            </div>
		{% if 'collapse' in fieldset.classes and fieldset.name %}</div>{% endif %}
	</div>
{% if 'collapse' in fieldset.classes and fieldset.name  %}</div>{% endif %}
