{% extends "admin/base_site.html" %}
{% load i18n crispy_forms_tags %}

{% block breadcrumbs %}
    ../../../|{% trans "Home" %}
    ../../|{% trans "Network" %}
    *Assign Buildings
{% endblock %}

{% block content %}
    <div id="content-main" class="container">
        <form id="assign-form" method="post" class="form-horizontal">
            {% crispy form %}
            <div class="pull-right">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <a href="../" class="btn">Cancel</a>
            </div>

        </form>
    </div>
{% endblock %}
