.modal {
    width: 800px;
    margin-left: -400px;
}
.modal-body {
    max-height: 600px;
    padding: 0px 15px 15px 15px;
}
input {
    min-width: 50px;
}
#id_groups_text {
    margin-bottom: 0px;
}
#id_groups-deck .hilight {
    height: 20px;
    line-height: 20px;
}
#id_groups-deck .remove {
    margin-top: 3px;
}

#filter-groups {
    float: left;
    margin-right: 4px;
}
#host-details-container {
    margin: 0px 0px 0px 25px;
    max-width: 800px;
}

.host-detail {
    padding-top: 5px;
    background-color: #eee;
}
.host-detail h3 {
    margin: 5px 0px 0px 0px;
}
.icon-expand {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;  /* left arrow slant */
    border-top: 5px solid transparent; /* right arrow slant */
    border-left: 5px solid #ff0000; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
}

.icon-contract {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff0000;
    font-size: 0;
    line-height: 0;
}
.well-white {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
}
