.modal {
    width: 800px;
    margin-left: -400px;
}
.modal-body {
    max-height: 600px;
}
input {
    min-width: 50px;
}
#id_groups_text {
    margin-bottom: 0px;
}
#id_groups-deck .hilight {
    height: 20px;
    line-height: 20px;
}
#id_groups-deck .remove {
    margin-top: 3px;
}

#filter-groups {
    float: left;
    margin-right: 4px;
}
