html {
    height: 100%;
    background: #354556;
    background: -moz-radial-gradient(center, ellipse cover, rgba(53, 69, 86, 1) 0, rgba(55, 68, 83, 1) 20%, rgba(17, 36, 56, 1) 60%, rgba(17, 36, 56, 1) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, rgba(53, 69, 86, 1)), color-stop(40%, rgba(55, 68, 83, 1)), color-stop(60%, rgba(17, 36, 56, 1)), color-stop(100%, rgba(17, 36, 56, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(53, 69, 86, 1) 0, rgba(55, 68, 83, 1) 20%, rgba(17, 36, 56, 1) 60%, rgba(17, 36, 56, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(53, 69, 86, 1) 0, rgba(55, 68, 83, 1) 20%, rgba(17, 36, 56, 1) 60%, rgba(17, 36, 56, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(53, 69, 86, 1) 0, rgba(55, 68, 83, 1) 20%, rgba(17, 36, 56, 1) 60%, rgba(17, 36, 56, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(53, 69, 86, 1) 0, rgba(55, 68, 83, 1) 20%, rgba(17, 36, 56, 1) 60%, rgba(17, 36, 56, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#354556', endColorstr='#112438', GradientType=1);
    background-repeat: no-repeat;
    background-position-x: -15em;
    background-position-y: -3em;
    background-color: #112438
}

body {
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
}

.container {
    max-width: 730px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.usuduo-centered {
    margin: 0 auto;
}

#logo {
    text-align: center;
    margin: 10px 0px 20px;
}

#content {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
}
