{% extends "admin/base_site.html" %}
{% load i18n static menu_tags openipam crispy_forms_tags %}

{% block title %}{% block page_title %}{% endblock %} | {% atb_site_name %}{% endblock %}

{% block coltype %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    /|{% trans "Home" %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
{% endblock %}


{% block content %}
    {% block contentbody %}{% endblock %}
{% endblock %}
