{% extends "core/base.html" %}

{% block breadcrumbs %}
    {{ block.super }}
    *Forgot password
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block title %}Password forgot{% endblock %}

{% block content %}
    <div id="content-main" class="well">
        <h2>Forgot password?</h2>

        <p>If your account is an A-number account, please visit <a href="http://password.usu.edu">http://password.usu.edu</a>, otherwise please contact an IPAM admin at <a href="mailto:openipam@lists.usu.edu">openipam@lists.usu.edu</a> to have your password reset.</p>
    </div>
{% endblock %}




