BeautifulSoup==3.2.1
Django==1.6.1
Fabric==1.8.1
IPy==0.81
South==0.8.4
Werkzeug==0.9.4
bitstring==3.1.2
django-admin-tools==0.5.1
django-auth-ldap==1.1.7
django-autocomplete-light==1.4.10
django-crispy-forms==1.4.0
django-datatables-view==1.7
django-debug-toolbar==1.0
django-extensions==1.2.5
django-filter==0.7
django-guardian==1.1.1
django-netfields==0.2.1  # Broken on Django 1.6, needs manual patch for now.
django-postgres-pebble==0.0.6
djangorestframework==2.3.10
ecdsa==0.10
ipython==1.1.0
netaddr==0.7.10
paramiko==1.12.0
pip-tools==0.3.4
psycopg2==2.5.1
pycrypto==2.6.1
python-ldap==2.4.13
requests==2.1.0
six==1.5.2
sqlparse==0.1.10
wsgiref==0.1.2
