BeautifulSoup==3.2.1
#Django==1.6b3
IPy==0.81
South==0.8.2
django-admin-tools==0.5.1
django-auth-ldap==1.1.4
django-autocomplete-light==1.4.1
django-crispy-forms==1.4.0
django-debug-toolbar==0.9.4
django-extensions==1.2.0
django-filter==0.7
django-guardian==1.1.1
django-netfields==0.2.1
djangorestframework==2.3.8
ipython==1.1.0
netaddr==0.7.10
psycopg2==2.5.1
python-ldap==2.4.13
six==1.4.1
wsgiref==0.1.2
