<form
  id="adv_search_form"
  method="get"
  action="{% url 'core:hosts:list_hosts' %}"
>
  {% csrf_token %} {{ advanced_search_form.media }} {{ advanced_search_form }}
</form>

<script>
  function search_deck_click_handler() {
    console.log("Removing search term");
    // Remove from cookie
    let cookie = $.cookie("search_filter");
    let value = $(this).data("value");
    let new_cookie = cookie
      .replace(value, "")
      .replace(",,", ",")
      .replace(/^,|,$/g, "");
    $.cookie("search_filter", new_cookie, {
      // Set the cookie to expire in 1 day
      expires: 1,
      // Path to set for the cookie
      path: "/hosts/",
    });
    console.log({ value, new_cookie });

    // Remove from search deck
    $(this).remove();

    window.results.clearPipeline().columns().search("").draw();
  }

  $(function () {
    console.log($("select#id_advanced_search"));
    $("select#id_advanced_search").change(() => {
      console.log(
        `adv_search_form changed: ${$("select#id_advanced_search").val()}`
      );
      // Append value to cookie
      // We need to get the current value of the cookie and append the new value to it
      // If the cookie doesn't exist, we need to create it
      // If the cookie does exist, we need to append the new value to it
      let cookie = $.cookie("search_filter");

      let value = $("select#id_advanced_search").val();
      let added_to_cookie = false;
      if (cookie !== undefined && cookie.includes(value)) {
        console.log("Value already in cookie");
        // Do nothing
      } else if (cookie === undefined || cookie === "") {
        $.cookie("search_filter", $("select#id_advanced_search").val(), {
          // Set the cookie to expire in 1 day
          expires: 1,
          // Path to set for the cookie
          path: "/hosts/",
        });
        added_to_cookie = true;
      } else {
        $.cookie(
          "search_filter",
          `${cookie},${$("select#id_advanced_search").val()}`,
          {
            // Set the cookie to expire in 1 day
            expires: 1,
            // Path to set for the cookie
            path: "/hosts/",
          }
        );
        added_to_cookie = true;
      }

      if (added_to_cookie) {
        // Add to search deck
        let el = $("#advanced-search-deck").append(
          `<span class="hilight search-term" data-value="${value}" style="mouse: pointer;">
     				${$("select#id_advanced_search option:selected").text()}</span>`
        );
        console.log(el);
        // Add click handler to remove search criteria
        $(`#advanced-search-deck .search-term[data-value="${value}"]`).click(
          search_deck_click_handler
        );
      }

      // Clear the search box
      $("select#id_advanced_search").val("");
      window.results.clearPipeline().columns().search("").draw();
    });

    // Add click handler to remove search criteria
    $("#advanced-search-deck .search-term").click(search_deck_click_handler);
  });
</script>
