{% extends "hosts/base.html" %}
{% load i18n static openipam openipam_host_extras crispy_forms_tags %}

{% block content_title %}
  <h3 id="breadcrumb-title" class="pull-left">
      Hosts
  </h3>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        {% trans "Hosts" %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/datatables/dataTables.bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'core/css/admin_filters.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'hosts/css/host_list.css' %}" type="text/css" />
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'core/datatables/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/datatables/dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'hosts/js/host_list.js' %}"></script>
{% endblock %}

{% block object-tools %}
<div class="pull-right object-tools">
  {% block object-tools-items %}
    <a href="{% url 'add_hosts' %}" class="btn btn-primary">
      <i class="icon-plus icon-white"></i>
      Add Host
    </a>
  {% endblock %}
</div>
{% endblock %}

{% block contentbody %}
    <form id="changelist-form" action="" method="post" class="quickbody">
        {% csrf_token %}
        <div id="actions">
            {% spaceless %}
                <div class="actions changelist-actions pull-left">
                    <div class="changelist-action" style="height: auto !important;">
                        <div class="action-wrapper">
                            <select id="host-action" name="action">
                                <option value="">Choose an action...</option>
                                <option value="">--------------</option>
                                    <option value="delete">Delete selected hosts</option>
                                {% if request.user.is_ipamadmin %}
                                    <option value="owners">Set owners on selected hosts</option>
                                {% endif %}
                                <option value="renew">Renew selected hosts</option>
                            </select>
                            <button id="action-submit" type="submit" class="btn" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">
                                <span class="icon-play"></span>
                                {% trans "Go" %}
                            </button>
                        </div>
                    </div>

                </div>
                <div id="filter-owners" class="btn-group radio-btn-group pull-left" data-toggle="buttons-radio">
                    <button type="button" class="btn {% if owner_filter %}active btn-inverse{% endif %}" value="1">Show Mine</button>
                    <button type="button" class="btn {% if not owner_filter %}active btn-inverse{% endif %}" value="">Show All</button>
                </div>
                <div id="changelist-search" class="pull-right">
                    <span id="filtered-label"class="label label-important pull-left hide">Records Filtered</span>
                    <a id="search-help-button" href="javascript:void(0);" class="pull-left"><span class="icon-question-sign"></span></a>
                    <div id="advanced-search" class="pull-left"><label><input type="text" id="id_search" value="{{ search_filter }}" /></label></div>
                    <a id="clear-filters" class="pull-right btn" href="javascript:void(0);" stlye="margin-left: 10px;">Clear</a>
                </div>
                <div id="search-help" class="hide">
                    <a id="search-info-close" href="javascript:void(0);" class="icon-remove pull-right"></a>
                    <p>Search for hostnames, IP addresses, or MAC addresses.</p>
                    <strong>For advanced searches...</strong>
                    <p>Multiple search terms may be included separated spaces.</p>
                    <p>Try these special query types:</p>
                    <pre>user:<em>username</em></pre>
                    <pre>group:<em>groupname</em></pre>
                    <pre>net:<em>network (CIDR notation)</em></pre>
                </div>
            {% endspaceless %}
        </div>

        <div class="results">
            <table cellspacing="0" id="result_list" class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="action-checkbox-column">
                            <div class="text">
                                <span><input type="checkbox" id="action-toggle" /></span>
                            </div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col">Hostname</th>
                        <th scope="col">Ethernet Address</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Expires</th>
                        <th scope="col">Mac Address Last seen</th>
                        <th scope="col">Static IP Last seen</th>
                        <!--<th scope="col">Last Updated</th>
                        <th scope="col">Last Updated by</th>-->
                        <th scope="col">DNS Records</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>&nbsp;</th>
                        <th><div><input type="text" id="s_host" class="search_init" placeholder="Search Host" value="{{ aoSearchCols.0.sSearch }}" style="max-width: 150px;" /></div></th>
                        <th><div><input type="text" id="s_mac" class="search_init" placeholder="Search MAC" value="{{ aoSearchCols.1.sSearch }}" style="max-width: 100px;" /></div></th>
                        <th><div><input type="text" id="s_ip" class="search_init" placeholder="Search IP" value="{{ aoSearchCols.2.sSearch }}" style="max-width: 100px;" /></div></th>
                        <th>
                            <div>
                                <select style="max-width: 80px;" id="s_expires" class="filter_init search_init">
                                    <option value="">All</option>
                                    <option value="1" {% ifequal aoSearchCols.3.sSearch '1' %}selected="selected"{% endifequal %}>Active</option>
                                    <option value="0" {% ifequal aoSearchCols.3.sSearch '0' %}selected="selected"{% endifequal %}>Expired</option>
                                </select>
                            </div>
                        </th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="8">Loading...</td>
                    </tr>
                </tbody>
            </table>

            {% if request.user.is_ipamadmin %}
                <div id="host-owners" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3>Set Owners for selected hosts</h3>
                    </div>
                    <div class="modal-body" style="overflow: visible;">
                        <div class="pull-left form-horizontal">
                            {{ owners_form|crispy }}
                        </div>
                        <div class="clear"><!-- --></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
            {% endif %}

            <div id="host-renew" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Renew for selected hosts</h3>
                </div>
                <div class="modal-body">
                    <div class="pull-left form-horizontal">
                        {{ renew_form|crispy }}
                    </div>
                    <div class="clear"><!-- --></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>

            <div id="host-details" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="host-detail-label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="host-detail-label">Details for: </h3>
                </div>
                <div class="modal-body">Loading...</div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <a id="edit-host" class="btn btn-success">Edit Host</a>
                </div>
            </div>

            <br /><br />
        </div>
    </form>
{% endblock %}
