{% extends "hosts/base.html" %}
{% load i18n static crispy_forms_tags %}

{% block content_title %}
  <h3 id="breadcrumb-title" class="pull-left">
    Host
  </h3>
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        $(function(){
            $('#id_hostname').yourlabsAutocomplete({
                url: '/autocomplete/DomainAutocomplete/',
                choiceSelector: '[data-value]',
                minimumCharacters: 1,
                placeholder: 'Enter a FQDN for this host',
                getQuery: function() {
                    var value = this.input.val();
                    return value.substr(value.indexOf('.') + 1)
                },
                refresh: function() {
                    if (this.input.val().indexOf('.') == -1){
                        this.hide();
                    }
                    else {
                        // Set the new current value.
                        this.value = this.getQuery();

                        // If the input doesn't contain enought characters then abort, else fetch.
                        this.value.length < this.minimumCharacters ? this.hide() : this.fetch();
                    }
                }
            }).input.bind('selectChoice', function(event, choice, autocomplete) {
                var value = choice.text();
                var pre_value = this.value.split('.')[0]
                this.value = pre_value + '.' + value;
                //alert("You have choosen: " + value);
            });

            $("#id_address_type").change(function(){
                if($(this).val()) {
                    $.get('/api/web/networkselects/'+$(this).val(), function(data) {
                        $("#id_network").html(data);
                    });
                    $("#div_id_network_or_ip").show();
                }
                else {
                    $("#div_id_network_or_ip").hide();
                    $("#div_id_network").hide();
                    $("#div_id_ip_address").hide();
                }
            });

            $.networkIPToggle = function() {
                if (!$("#id_address_type").val()) {
                    $("#div_id_network_or_ip").hide();
                }
                if (!$(":radio[name='network_or_ip']:checked").length) {
                    $("#div_id_network").hide();
                    $("#div_id_ip_address").hide();
                }
                else if ($(":radio[name='network_or_ip']:checked").val() === '0'){
                    $("#div_id_network").show();
                    $("#div_id_ip_address").hide();
                }
                else if ($(":radio[name='network_or_ip']:checked").val() === '1') {
                    $("#div_id_ip_address").show();
                    $("#div_id_network").hide();
                }
            }

            $.pageInit = function() {

                // Click handlers for DHCP Group
                $("#id_show_hide_dhcp_group").click(function(){
                    $("#div_id_dhcp_group").toggle();
                });

                if (!$("#id_dhcp_group_text:checked").length) {
                    $("#div_id_dhcp_group").hide();
                }
                else {
                    $("#id_show_hide_dhcp_group").attr('checked', 'checked');
                }

                // Click hadlers for Network or IP fields
                $(":radio[name='network_or_ip']").click(function(){
                    $.networkIPToggle();
                });

                $.networkIPToggle();
            }

            // Fire init
            $.pageInit();

        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        ../|{% trans "Hosts" %}
        *{% trans "Host" %}
{% endblock %}


{% block contentbody %}
    <div class="well well-small quickbody">
        <form id="host-form" action="" method="post">
            {% csrf_token %}
            <div class="margin10">
                {% crispy form %}
            </div>
        </form>
    </div>
{% endblock %}
