{% extends "hosts/base.html" %}
{% load i18n static crispy_forms_tags %}

{% block content_title %}
  <h3 id="breadcrumb-title" class="pull-left">
    Host
  </h3>
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {% include 'autocomplete_light/static.html' %}
    <script type="text/javascript">
        var dynamicAddressTypes = {{ dynamic_address_types }};

        $(function(){

            $('#id_hostname').yourlabsAutocomplete({
                url: '/api/web/DomainAutocomplete/',
                choiceSelector: '[data-value]',
                minimumCharacters: 1,
                placeholder: 'Enter a FQDN for this host',
                getQuery: function() {
                    var value = this.input.val();
                    return value.substr(value.indexOf('.') + 1)
                },
                refresh: function() {
                    if (this.input.val().indexOf('.') == -1){
                        this.hide();
                    }
                    else {
                        // Set the new current value.
                        this.value = this.getQuery();

                        // If the input doesn't contain enought characters then abort, else fetch.
                        this.value.length < this.minimumCharacters ? this.hide() : this.fetch();
                    }
                }
            }).input.bind('selectChoice', function(event, choice, autocomplete) {
                var value = choice.text();
                var pre_value = this.value.split('.')[0]
                this.value = pre_value + '.' + value;
                //alert("You have choosen: " + value);
            });

            $("#id_address_type").on('change', function(){
                var aType = $("#id_address_type").val();

                if (aType) {
                    $.get('/api/web/networkselects/'+ $("#id_address_type").val(), function(data) {
                        $("#id_network").html(data);
                        $.networkIPToggle();
                    });
                }
                else{
                    $.networkIPToggle();
                }
            });

            // Click hadlers for Network or IP fields
            $(":radio[name='network_or_ip']").on('click', function(){
                $.networkIPToggle();
            });

            // Click handlers for DHCP Group
            $("#id_show_hide_dhcp_group").on('click', function(){
                $("#div_id_dhcp_group").toggle();
            });

            $("a#host-renew").on('click', function(){
                $("#div_id_expire_days").toggle();
                return false;
            })

            $("a#ip-change").on('click', function(){
                $("#div_id_address_type").toggle();
                $.networkIPToggle();
                $(this).remove();
                return false;
                //$("#div_id_network_or_ip").toggle();
                //$("#div_id_ip_address").toggle();
            })

            // $.addressTypeTogge = function() {
            //     if ($("#id_network option[value!='']").size() > 0 || $("#id_ip_address").val()) {
            //         $("#div_id_network_or_ip").show();
            //     }
            //     else {
            //         $("#div_id_network_or_ip").hide();
            //     }
            //     $.networkIPToggle();
            // }

            $.networkIPToggle = function() {
                var netSelect = $(":radio[name='network_or_ip']:checked").val();
                var aType = parseInt($("#id_address_type").val());

                if (isNaN(aType) || dynamicAddressTypes.indexOf(aType) != -1) {
                    $("#div_id_network_or_ip").hide();
                    $("#div_id_ip_address").hide();
                    $("#div_id_network").hide();
                }
                else {
                    $("#div_id_network_or_ip").show();

                    if (netSelect === '0') {
                        $("#div_id_network").show();
                        $("#div_id_ip_address").hide();
                    }
                    else if (netSelect === '1') {
                        $("#div_id_network").hide();
                        $("#div_id_ip_address").show();
                    }
                    else {
                        $("#div_id_network").hide();
                        $("#div_id_ip_address").hide();
                    }
                }
            }

            $.pageInit = function() {
                var netSelect = $(":radio[name='network_or_ip']:checked").val();
                var aType = parseInt($("#id_address_type").val());
                var dhcpGroup = $("#id_show_hide_dhcp_group");

                if (dhcpGroup.length && dhcpGroup.not('checked')) {
                    $("#div_id_dhcp_group").hide();
                }

                if ($("a#host-renew").length > 0) {
                    $("#div_id_expire_days").hide();
                }

                if ($("a#ip-change").length > 0) {
                    $("#div_id_address_type").hide();
                    $("#div_id_network_or_ip").hide();
                    $("#div_id_network").hide();
                    $("#div_id_ip_address").hide();
                }
                else {
                    $.networkIPToggle();
                    // if (isNaN(aType) || dynamicAddressTypes.indexOf(aType) != -1) {
                    //     $("#div_id_network_or_ip").hide();
                    //     $("#div_id_ip_address").hide();
                    //     $("#div_id_network").hide();
                    // }
                    // else {
                    //     if (netSelect === '0') {
                    //         $("#div_id_network").show();
                    //         $("#div_id_ip_address").hide();
                    //     }
                    //     else if (netSelect === '1') {
                    //         $("#div_id_network").hide();
                    //         $("#div_id_ip_address").show();
                    //     }
                    //     else {
                    //         $("#div_id_network").hide();
                    //         $("#div_id_ip_address").hide();
                    //     }
                    // }
                }
            }

            // Fire init
            $.pageInit();

        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        ../|{% trans "Hosts" %}
        {% if object %}
            {{ object.pk }}
        {% else %}
            {% trans "Host" %}
        {% endif %}
{% endblock %}


{% block contentbody %}
    <div class="well well-small quickbody">
        {% if form.instance.pk %}
            {% if form.instance.is_expired %}
                <div class="alert alert-error">
                    <h4>Host is expired: expired on {{ form.instance.expires }}</h4>
                </div>
            {% endif %}
            {% if form.instance.mac_is_disabled %}
                <div class="alert alert-error">
                    <h4>Mac is currently disabled.</h4>
                </div>
            {% endif %}
            {% if not form.instance.mac_last_seen %}
                <div class="alert alert-error">
                    <h4>Mac not seen: there is no data for this mac address and we have not seen it in over 3 months (if ever).</h4>
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
        {% endif %}

        <form id="host-form" action="" method="post" class="pull-left form-horizontal" style="min-width: 400px;">
            {% csrf_token %}
            <div class="margin10">
                {% if form.instance.pk %}
                    <h2>Edit Host: {{ form.instance.mac }}</h2>
                {% else %}
                    <h2>Add Host</h2>
                {% endif %}
                {% crispy form %}
                <div class="center">
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                    <input type="button" value="Cancel" class="btn" onclick="javascript:location.href='{% url 'list_hosts' %}';" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
