{% extends "hosts/base.html" %}
{% load i18n static crispy_forms_tags %}

{% block page_title %}{% if object %}Edit Host: {{ object.hostname }}{% else %}Add Host{% endif %}{% endblock %}

{% block content_title %}
  <h3 id="breadcrumb-title" class="pull-left">
    Host Bulk Create
  </h3>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
        ../|{% trans "Hosts" %}
        {% trans "Host Bulk Create" %}
{% endblock %}

{% block contentbody %}
    <div class="well well-sm">
        <form id="host-bulk-form" action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div>

                {% crispy form %}

                <div class="pull-right">
                    <input type="submit" value="Save Changes" class="btn btn-primary" data-toggle="modal" data-target="#processing-modal" />
                    {% if request.user.is_ipamadmin %}
                        {% url 'add_hosts' as add_url %}
                        {% url 'add_hosts_bulk' as add_url_bulk %}
                        {% if request.get_full_path = add_url or request.get_full_path = add_url_bulk %}
                            <input type="submit" name="_add" value="Save and add another" class="btn btn-success" data-toggle="modal" data-target="#processing-modal" />
                        {% endif %}
                        <input type="submit" name="_continue" value="Save and continue editing" class="btn btn-info"  />
                    {% endif %}
                    <a href="{% url 'list_hosts' %}" class="btn">Cancel</a>
                </div>

                <div class="clear"><!-- --></div>
            </div>
        </form>
    </div>
    <div id="processing-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>Processing....</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
